<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DNSAnalysisTool</display-name>
  <welcome-file-list>
    <welcome-file>UserHome.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ValidateUser</display-name>
    <servlet-name>ValidateUser</servlet-name>
    <servlet-class>container.ValidateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUser</servlet-name>
    <url-pattern>/ValidateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tryit</display-name>
    <servlet-name>Tryit</servlet-name>
    <servlet-class>container.Tryit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tryit</servlet-name>
    <url-pattern>/Tryit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerformAnalytics</display-name>
    <servlet-name>PerformAnalytics</servlet-name>
    <servlet-class>container.PerformAnalytics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerformAnalytics</servlet-name>
    <url-pattern>/PerformAnalytics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>container.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileAvail</display-name>
    <servlet-name>FileAvail</servlet-name>
    <servlet-class>container.FileAvail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileAvail</servlet-name>
    <url-pattern>/files/*</url-pattern>
  </servlet-mapping>
</web-app>